<launch>
	<arg name="use_xacro" default="false" />
	<arg name="use_gui" default="true" />
	<arg name="use_robot_state_publisher" default="true" />
	<arg name="new_lab" default="true" />
	<!--arg name="external_clock" default="true" -->
	<arg name="file" default="$(find lab4_rosbags)/urdf/lab4_xacro.xacro" />

	<include file="$(find navvis_description)/launch/lab4.launch">
		<arg name="use_xacro" default="$(arg use_xacro)" />
		<arg name="use_gui" default="$(arg use_gui)" />
		<arg name="use_robot_state_publisher" default="$(arg use_robot_state_publisher)" />
		<!--arg name="external_clock" default="$(arg external_clock)" -->
		<arg if="$(arg new_lab)" name="file" default="$(arg file)" />		
	</include>
</launch>
